<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilim</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="login-container profile-container">
        <h2>Profilim</h2>
        
        <div class="profile-info">
            <p>
                Adınız: <span id="profile-name" class="loading-placeholder">...</span>
            </p>
            <p>
                Soyadınız: <span id="profile-surname" class="loading-placeholder">...</span>
            </p>
            <p>
                Email Adresiniz: <span id="profile-email" class="loading-placeholder">...</span>
            </p>
            <p>
                Yaşınız: <span id="profile-age" class="loading-placeholder">...</span>
            </p>
            <p>
                Adresiniz: <span id="profile-address" class="loading-placeholder">...</span>
            </p>
        </div>
        
        <button id="logoutButton" class="logout-button">Çıkış Yap</button>
        
    </div>

    <script src="profile.js"></script>
</body>
</html>