<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilim</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="login-container profile-container">
        <h2>Profilim</h2>
        
        <div class="profile-info">
            <p>
                Hoş geldin, <span id="profile-username" class="loading-placeholder">...</span>
            </p>
            <p>
                Email Adresin: <span id="profile-email" class="loading-placeholder">...</span>
            </p>
            </div>
        
        <button id="logoutButton" class="logout-button">Çıkış Yap</button>
        
    </div>

    <script src="profile.js"></script>
</body>
</html>